/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");

@font-face {
  font-family: "Boungiorno";
  src: url("./assets/fonts/Buongiorno\ Rastellino.otf");
}

/* VARIABLES */

:root {
  --main-font-color: white;
  --contact-font-color: #adb5bd;
  --secondary-contact-font-color: #6c757d;
  --background-color: #212529;
  --btn-color: #a3b18a;
  --btn-hoover-color: #3a5a40;
  --error-color: #fc8181;
  --green-color: #344e41;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
p,
h3 {
  color: var(--main-font-color);
}
body {
  background-color: var(--background-color);
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  max-width: 10rem;
  padding: 1rem;
  border-radius: 7px;
  text-align: center;
  border: none;
  background-color: var(--btn-color);
  color: var(--main-font-color);
  cursor: pointer;
  transition-duration: 0.5s;
}
.btn:hover {
  background-color: var(--btn-hoover-color);
  transition-property: all;
  transition-duration: 0.5s;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.title > h2 {
  font-size: 35px;
  color: var(--main-font-color);
}
.underline {
  width: 7rem;
  height: 3px;
  background-color: #344e41;
}

/* HEADER */

.header--background {
  position: relative;
  background-image: url("./assets/img/banner.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 10rem;
}
.header--container {
  max-width: 1200px;
  margin: auto;
  position: relative;
  max-height: 35rem;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-size: cover;
}
.header--container > hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main--title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.main--title > h1 {
  text-align: center;
  font-family: "Cormorant";
  font-size: 5rem;
  color: var(--main-font-color);
}
.main--title > span {
  font-family: "Boungiorno";
  font-size: 15rem;
  font-weight: lighter;
  width: 30rem;
  padding-bottom: 55px;
  color: var(--main-font-color);
}
.second--header--container,
.first--header--container {
  display: flex;
  justify-content: space-between;
}
.contact--infos--header {
  display: flex;
  width: 100%;
  max-width: 28rem;
  justify-content: space-between;
  font-size: 0.8rem;
  color: var(--main-font-color);
}
.social--container {
  display: flex;
  width: 100%;
  max-width: 5rem;
  justify-content: space-between;
}
.social--container > a {
  color: var(--main-font-color);
}
.logo {
  height: 100px;
}
.nav--title--container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: 40rem;
}
.list--container {
  display: flex;
  gap: 4.5rem;
}
.list--container a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--main-font-color);
}
.nav--link {
  list-style-type: none;
}
.main--background {
  background-color: var(--background-color);
}
.header--blur {
  position: absolute;
  bottom: -0.3rem;
  height: 0.5rem;
  width: 100vw;
  background-color: var(--background-color);
  filter: blur(0.1rem);
}

/* SERVICES */

.services--container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr repeat(4, 1fr);
  row-gap: 6rem;
}
.service {
  width: 30rem;
}
.services--title {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
}
.services--container > div > h3 {
  font-size: 25px;
  padding: 1rem;
}
.services--container > div > p {
  font-size: 25px;
  padding: 1rem;
}
.service--icon {
  width: 115px;
  height: 115px;
  padding: 1rem 1rem;
}
.service--img {
  width: 30rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  justify-self: center;
  align-self: center;
}
.service--one {
  grid-row-start: 2;
  grid-column-start: 1;
}
.service--two {
  grid-row-start: 3;
  grid-column-start: 2;
  justify-self: end;
}
.service--three {
  grid-row-start: 4;
  grid-column-start: 1;
}
.service--four {
  grid-row-start: 5;
  grid-column-start: 2;
  justify-self: end;
}

/* PRICES (SERVICES) */

.prices--title {
  padding-bottom: 5rem;
}
.table--container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--green-color);
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.table--container > table {
  width: 90%;
  border-collapse: collapse;
}
.table--container thead {
  height: 6rem;
}
.table--container th {
  text-align: start;
}
.table--container td {
  text-align: center;
}
.table--container tr {
  border-bottom: 1px solid rgba(224, 225, 221, 0.3);
}
.table--head {
  text-align: end !important;
}
.table--container th::first-letter {
  text-transform: capitalize;
}
.table--container tr {
  height: 3rem;
}
.table--container th,
tr {
  color: var(--main-font-color);
}
.section--name th {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #1b221b54;
}
.price--categories img {
  width: 45px;
}
.price--categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.price--categories span {
  align-self: center;
}

/* CONTACT PAGE */

.contact--page {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.message--sent--container {
  height: 25rem;
  width: 65rem;
  margin-top: 10rem;
}
.message--sent--container h2 {
  color: var(--main-font-color);
  font-size: 45px;
  text-align: center;
}
.container {
  display: flex;
  width: 100%;
  max-width: 65rem;
  height: 100%;
  max-height: 48rem;
  border-radius: 12px;
  overflow: hidden;
  justify-content: center;
}
.contact--info--container h4 {
  color: lightgray;
}
.contact--form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 2;
}
.contact--form textarea {
  resize: none;
  height: 100%;
}
.textarea--container {
  height: 100%;
  max-height: 10rem;
  flex-grow: 2;
}
.container > img {
  max-width: 50%;
}
.form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 50%;
  gap: 3rem;
  padding: 1.5rem;
  background-color: white;
}
.container > h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.contact--form input,
textarea,
label {
  width: 100%;
  max-width: 30rem;
  height: 2rem;
}
.contact--form button {
  margin-top: 2rem;
}
.contact--header {
  display: flex;
  justify-content: space-between;
}
.input--container input,
textarea {
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  padding: 5px;
}
.input--container label,
.contact--info--container p {
  color: var(--secondary-contact-font-color);
}

/* VALIDATION */

.input--error {
  border: 1px solid var(--error-color) !important;
  border-radius: 5px;
}

.error--message {
  color: var(--error-color);
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

/* LANDING PAGE */

.landing--page--container {
  max-width: 1200px;
  margin: 0 auto;
}
.introduction {
  display: flex;
  margin-top: 8rem;
  gap: 3rem;
}
.introduction img {
  max-width: 550px;
  max-height: 550px;
  align-self: center;
}
.introduction p {
  font-size: 22px;
  align-self: center;
  text-align: center;
  min-width: 38rem;
}
.introduction > div {
  display: flex;
  flex-direction: column;
}
.introduction--quote--mark {
  color: var(--green-color);
}
.second--mark {
  align-self: flex-end;
}
.service--cards--container {
  display: flex;
  gap: 2rem;
  margin-top: 10rem;
}
.service--card {
  display: flex;
  background-color: var(--green-color);
  padding: 1rem;
  border-radius: 8px;
}
.landing--page--list--container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  gap: 5rem;
}
.landing--page--list--container li {
  display: flex;
}
.landing--page--list--icon {
  color: var(--main-font-color);
}
/* FOOTER */

.footer--container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
  background-color: var(--green-color);
}
footer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 24rem;
  width: 100%;
  max-width: 1200px;
}
footer iframe {
  width: 450px;
  height: 300px;
  align-self: flex-end;
}
.footer--contact--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  width: 30%;
}
.footer--contact--container > p {
  font-size: 30px;
}
.footer--brand--logo {
  grid-column-start: 1;
  grid-column-end: 3;
}
.footer--contacts--icons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer--contacts--icons > div {
  display: flex;
  justify-content: space-between;
}
.contact--text {
  width: 15rem;
  align-self: center;
}
.footer--icon {
  color: var(--main-font-color);
}

/* ANIMATIONS */

/* LOADING */

.loading {
  margin: 0 auto;
  margin-top: 25%;
  margin-bottom: 25%;
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: var(--main-font-color) transparent var(--main-font-color)
    transparent;
  border-radius: 50%;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* LANDING PAGE INTRODUCTION*/

.fade-in-1 {
  opacity: 0;
  transform: translateX(20px); /* Optional: Adds a slight slide-up effect */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in-1.visible-1 {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-2 {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in-2.visible-2 {
  opacity: 1;
  transform: translateX(0);
}

/* LANDING PAGE SERVICE CARDS */

.card-fade-in-1 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.card-fade-in-1.card-visible-1 {
  opacity: 1;
  transform: translateY(0);
}
